<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
	<rewrite>
	<rules>
		<rule name="demotest">
			<match url="^test.html$" />
			<action type="Rewrite" url="{R:1}/testok.html" />
		</rule>
		
	</rules>
</rewrite>
        <httpErrors errorMode="Custom">
            <remove statusCode="404" subStatusCode="-1" />
            <error statusCode="404" subStatusCode="-1" path="/err404.html" responseMode="ExecuteURL" />
        </httpErrors>
   </system.webServer>
    <system.web>
        <customErrors defaultRedirect="D:\wwwroot\fumancangw\wwwroot\err404.html" mode="RemoteOnly">
        </customErrors>
    </system.web> 	
</configuration>
